
<form method="post" action="/new">

    <label for="author">Author: </label>
    <input type="text" name="author" id="author" required><br>

    <label for="message">Message:</label>
    <textarea name="message" id="message" required></textarea><br>

    <button type="submit">Submit</button>
    
</form>